.navbar-brand {
    font-size: 2.5rem;
    font-family: "Times New Roman", Times, serif;
  }
  
  .navbar-brand img {
    width: 10%;
    height: 10%;
  }
  .container {
    text-align: center;
  }
  