<header class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container my-2 py-1 d-flex align-items-center justify-content-center">
        <a class="navbar-brand" href="#">
            <img src="assets/logo.png" alt="Newspaper Logo" class="img-fluid">
            The Hindu Blog
        </a>
    </div>
</header>