<div class="advertisement">
    <h2 class="section-title">Advertisements</h2>
    <iframe [src]="safeSrc1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <iframe [src]="safeSrc2" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <iframe [src]="safeSrc3" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <iframe [src]="safeSrc4" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>