<div class="news-headings">
    <h2 class="section-title">Recent Blogs</h2>
    <ul class="list-group">
    <li class="list-group-item" *ngFor="let news of newsList">
        <div class="news-heading">
          <span class="news-title">{{ news.title }}</span>
          <small class="author">{{ news.author }}</small>
        </div>
      </li>
    </ul>
  </div>
  
  