.news-headings {
  background-color: #f8f9fa; 
  padding: 20px;
}

.section-title {
  color: #333; 
  font-size: 1.2rem; 
  margin-bottom: 20px; 
}

.list-group-item {
  background-color: #fff;
  border: none; 
}

.news-heading {
  position: relative; 
}

.news-title {
  font-size: 0.9rem; 
}
.news-title:hover {
  text-decoration: underline; 
}
.author {
  display: block; 
  bottom: 5px;
  right: 0; 
  font-size: 0.8rem; 
  color: #777; 
  text-align: right; 
  width: 100%; 
}
