<app-header></app-header>
<app-navigation></app-navigation>

<div class="container-fluid">
  <div class="row">
    <!-- News Headings Component -->
    <div class="col-md-3">
      <app-news-headings></app-news-headings>
    </div>

    <!-- Main News Component -->
    <div class="col-md-6">
      <app-main-news></app-main-news>
    </div>

    <!-- Advertisements Component -->
    <div class="col-md-3">
      <app-advertisements></app-advertisements>
    </div>
  </div>
</div>
<app-footer></app-footer>