<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Web Tech</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Business</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Entertainment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Life Style</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Society</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Machine Learning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dev Ops</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Podcast</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cloud Computing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">IOT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Science</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-youtube"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>