.navbar {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-nav .nav-item .nav-link {
    color: #000;
    font-family: "Times New Roman", Times, serif;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #555;
    text-decoration: underline;
  }
  