.main-news {
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 20px;
}

.section-title {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.news-content h3 {
  color: #333;
  font-size: 1.9rem;
  margin-bottom: 10px;
}
.news-content h3:hover {
  text-decoration: underline;
}
.news-content p {
  color: #555;
  font-size: 1rem;
  line-height: 1.5;
}
.news-content small {
  color: #777;
  font-size: 0.8rem;
  font-style: italic;
}
.author {
  color: #777;
  font-size: 0.8rem;
}

.main-image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  /* top and bottom padding 20px */
  padding: 10px 0;
}
