<div class="main-news">
    <div class="news-content">
      <h3>{{ mainNews.title }}</h3>
      <small class="author"> By {{ mainNews.author }}</small>
      <img src="{{ mainNews.imageUrl }}" alt="Main News Image" class="main-image">
      <p>{{ mainNews.content }}</p>
    </div>
  </div>
  